---
// Component Imports
import TipCalculator from '../../components/calculator/Calculator.tsx'
import Design from '../../components/design/Design.jsx'
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body style="margin:0;padding:0;">
    <main style="width:100%;display:flex;flex-direction: column; align-items: center;">
      <TipCalculator client:load/>
      <!-- <Design name={"calculator"} display={{desktop:true}} opaque={false}/> -->
    </main>
  </body>
</html>
