.cards {
    margin: 0;
    padding: 0;
    margin-top: 88px;
    list-style: none;
    opacity: .5;
}

.cards__item:first-child {
    top: 0;
}
.cards__item {
    position: relative;
    top: -8px;
}
.cards__item:last-child {
    top: -16px;
}

@media (min-width:768px) {
    .cards {
        display: inline-flex;
        margin-top: 172px;
    }
}